@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Sevillana&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --bgColor: #A8DADC;
    --boardShadow:#7fa4a5;
    --cellBorderColor: #213a49;
    --navBgColor: #303036;
    --navTextColor: #e63946;
}

body{
    background-color: var(--bgColor);
    
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.gameBoard{
    display: grid;
    grid-template-rows: repeat(3,7rem);
    grid-template-columns: repeat(3,7rem);
    gap: 5px;

    box-shadow: 0px 0px 50px var(--boardShadow);
    border-radius: 10px;

    margin-top: 10rem;

}

.iconArea{
    height: 7rem;
    width: 7rem;
    border: 2px double var(--cellBorderColor);

}

.nav{
    padding-top: 0.5rem;
    background-color: var(--navBgColor);
    width: 100%;
    text-align: center;
    color: var(--navTextColor);
    font-family: 'nerko one',Arial, Helvetica, sans-serif;
    font-size: 2rem;

}

.c1{
    border-radius: 10px 0px 0px 0px;
}
.c2{
    border-radius: 0px 10px 0px 0px;
}
.c3{
    border-radius: 0px 0px 0px 10px;
}
.c4{
    border-radius: 0px 0px 10px 0px;
}

.iconArea{
    background-repeat:no-repeat;
    background-position: 10px 10px;
    background-size: 85%;
}

.reset{
    margin-top: 2rem;
    border:2px solid black;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--navBgColor);
    color: var(--navTextColor);

    width: 7rem;
    height: 2rem;

    font-family: 'nerko one',Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;


    
}

.c1,.e2,.c3{
    border-left: none;
}

.c1,.e1,.c2{
    border-top: none;
}

.c2,.e3,.c4{
    border-right: none;
}

.c3,.e4,.c4{
    border-bottom: none;
}

.result{
    margin:2rem;
    margin-bottom: 0;

    font-family: 'nerko one',Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: var(--navTextColor);

    border-radius: 10px;
    padding: 0.75rem;

    display: none;
}


